.tab_content{
    width:100%;
    height:800px;
}

#option_box {
    width: 255px;
    display: block;
}

#General_title {
    list-style: none;
    float: left;
}

    #General_title li {
        width: 250px;
        border: 2px solid #ccc;
        text-align: center;
        margin-top: -2px;
        height: 80px;
        line-height: 80px;
        cursor: pointer;
    }

#General_content {
    margin-left: 250px;
}

.General_content_tab {
    width: 100%;
    height: auto;
    border: 2px solid #ececec;
    display: none;
}

.li_click {
    background-color: antiquewhite;
}
.site-footer{
    margin-top:-100px;
}

.General_content_form p{
    margin-left:20px;
    margin-top:10px;
}
.textarea_1{
    width: 250px;
    height: 45px;
}
.textarea_2{
    width:250px;
    height:80px;
}