
@{
    ViewBag.Title = "Add";
}
@using CodeFirstSystem1.Models;
@model List<DietNous>

<h2>新增知识</h2>

<div class="form-horizontal">
    <form id="form1" class="General_content_form" action="/DietNous/Add" method="post" enctype="multipart/form-data">
        <p>
            标题：
            <input type="text" name="NousTitle" />
        </p>
        <p>
            图片：
            <input type="file" id="file" name="file">
        </p>
        <p>
            内容：
            <textarea name="NousDetails"></textarea>
        </p>
        <p>
            <input class="btn btn-success" type="submit" value="提交" />
            <input class="btn btn-danger" type="button" onclick="back();" value="取消" />
        </p>
    </form>
</div>

<script type="text/javascript">
    function back() {
        location.href = "/DietNous/Index";
    }
</script>

