
@{
    ViewBag.Title = "Detail";
}

@using CodeFirstSystem1.Models;
@model Sfav


<h2>详情--@Model.SfavName</h2>

<div class="form-horizontal">
    <form id="form1" class="General_content_form" action="/Sfav/Edit" method="post">
        <p>
            <input type="hidden" name="SfavID" value="@Model.SfavID" />
        </p>
        <p>
            时蔬名称：
            <input type="text" name="SfavName" value="@Model.SfavName" />
        </p>
        <p>
            时蔬描述：
            <textarea name="SfavExplain" >@Model.SfavExplain</textarea>
        </p>
        <p>
            成熟月份：
            @Html.DropDownList("MatureSeason", ViewBag.monthList as List<SelectListItem>)
        </p>
        <p>
            <input class="btn btn-primary" type="submit" value="提交" />
            <input class="btn btn-danger" type="button" onclick="back();" value="返回" />
        </p>
    </form>
</div>


<script type="text/javascript">
    function back() {
        location.href = "/Sfav/Index";
    }
</script>

