
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Login.css" rel="stylesheet" />
</head>
<body>
    <div class="login">
        <div class="message">管理登录</div>
        <div id="darkbannerwrap"></div>

        <form action="/Login/Index" method="post">
            <input class="text_1" name="AdminName" placeholder="用户名" required="" type="text">
            <hr class="hr15">
            <input class="text_1" name="AdminPwd" placeholder="密码" required="" type="password">
            <hr class="hr15">
            <input class="btn_1" value="登录" type="submit">
            <hr class="hr15">
            <a class="register" style="width:85%;" type="button" href="/Login/Register">注册</a>
            <hr class="hr20">
            <!-- 帮助 <a onClick="alert('请联系管理员')">忘记密码</a> -->
        </form>


    </div>
</body>
</html>
