
@{
    ViewBag.Title = "Detail";
}
@using CodeFirstSystem1.Models;
@{ 
    RecipeType type= ViewBag.type;
}

<h2>详情-@type.TypeName</h2>

<div class="form-horizontal">
    <form id="form1" class="General_content_form" action="/Type/Edit" method="post">
        <p>
            <input type="hidden" name="TypeID" value="@type.TypeID" />
            <input type="hidden" name="PID" value="@type.PID" />
        </p>
        <p>
            类别名称：
            <input type="text" name="TypeName" value="@type.TypeName" />
        </p>
        <p>
            英文名称：
            <input type="text" name="TEName" value="@type.TEName" />
        </p>
        <p>
            <input class="btn btn-primary" type="submit" value="提交" />
            <input class="btn btn-danger" type="button" onclick="back();" value="返回" />
        </p>
    </form>
</div>


<script type="text/javascript">
    function back() {
        location.href = "/Type/Index";
    }
</script>

